<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        
        <title>Django Cookie and Session</title>
    </head>
    <body>
        <div class="text-center">
            <h1 class="display-1">Click for Hits...</h1>
            <br>
            <a href="hit-cookie/" class="btn btn-primary btn-lg" role="button">Cookie Hits...</a>
            <a href="hit-session/" class="btn btn-secondary btn-lg" role="button">Session Hits...</a>
        </div>
  </body>
</html>